textarea {
    resize: none;
}

#respuestas p{
    word-wrap: break-word;
}

#contenidoOP{
    border-style: solid;
    border-width: 2px;
}

h6{
    font-size: small;
    display: inline;
}

#contenidoOP p{

    
    word-wrap: break-word;
    
    padding: 5px;
    margin-top: 0px;

}


li{

    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 100px;
    list-style: none;
    border-style: solid;
    border-width: 1px;
    



}

li p{

    padding: 5px;
}


.infoUsuario{

    width: 90px;
    display:inline-block;
    border-style: solid;


}



aside{

    width: 90px;
    margin-left: -125px;
    padding-left: 20px;
    float: left;
    word-wrap: break-word;
    background-color: lightgray;

}