@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Montserrat';
}

body {
    margin: 0;
    background-color: #131C29;
    color: white;
}

.headerD {
    background-color: #24344D;
    color: #B3BDCC;
    padding: 20px;
}

.headerD img {
    position: absolute;
    width: 300px;
    mix-blend-mode: soft-light;
    top: 8px;
}

.headerD h1 {
    margin: 0;
    text-align: center;
    font-size: 3em;
}

.allD {
    margin: 15px 100px;
}

#postOP {
    background: #24344D;
    border-radius: 9px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 10px;
}

#postOP img {
    position: absolute;
    background: url(icons8-discussion-forum-80.png), #B3BDCC;
    border-radius: 15px;
    margin: 15px 25px;
}

#postOP h2, #postOP h3 {
    margin-left: 135px;
}

#postOP h2 {
    margin-bottom: 0;
    padding-top: 20px;
    font-size: 1.7em;
    font-weight: normal;
}

#postOP h3 {
    margin-top: 15px;
    font-weight: 500;
    font-size: 1.3em;
}

#postOP h6 {
    margin: 0;
    position: absolute;
    text-align: left;
    right: 130px;
    top: 238px;
    font-size: 1em;
}

#postOP hr {
    width: 97%;
    color: #B3BDCC;
}

#postOP #contenidoOP {
    padding-bottom: 5px;
}

#postOP p {
    display: block;
    white-space: pre-wrap;
    margin: 10px 25px;
    font-size: 1.2em;
}

#creacionRespuesta{
    display: none;
}

#crearRespuesta, #creacionRespuesta button {
    background-color: #9BC7FF;
    color: #131C29;
    width: 223px;
    height: 50px;
    font-size: 1.7em;
    border: none;
    border-radius: 4px;
    transition: ease-out 0.7s;
    outline: none;
    margin: 15px 0px;
}

#crearRespuesta:hover, #creacionRespuesta button:hover {
    box-shadow: inset 300px 0 0 0 #33ffa0;
    cursor: pointer;
}

#selectUsuario {
    margin-top: 5px;
    width: 400px;
    background: none;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    padding: 10px 10px;
    color: white;
    transition: 0.25s;
}

#contenidoRespuesta {
    
    margin-top: 10px;
    width: 400px;
    background: none;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-size: 1em;
    padding: 10px 10px;
    color: white;
    transition: 0.25s;
}

#selectUsuario:focus, #contenidoRespuesta:focus {
    color: white;
    background-color: #30445a;
}

#creacionRespuesta button {
    background-color: #4194FF;
    font-size: 1.4em;
    width: 240px;
    height: 40px;
}

#resDePost{

    color: #D33F49;
    font-weight: bold;
    text-align: left;

}

.titleR {
    text-align: center;
    color: #B3BDCC;
    font-size: 2em;
}

#lista li{
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    list-style: none;
    border: 1px solid white;
    background-color: #24344D;
}

#lista aside{
    text-align: center;
    width: 165px;
    margin-left: -205px;
    float: left;
    word-wrap: break-word;
    border: 1px solid white;
    background-color: #24344D;
    padding: 20px 0px;
}

#lista h6 {
    position: absolute;
    margin: 10px;
    margin-left: 15px;
    font-size: 1em;
}

#lista li p{
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding: 5px;
    margin: 30px 10px 5px 10px;
}